@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer',
  'layout/navigation';


// 5. Components
@import
  'components/button',
  'components/bg-video',
  'components/recent-news',
  'components/about',
  'components/highlights',
  'components/products',
  'components/contact',
  'components/partners',
  'components/about-timeline',
  'components/about-composition',
  'components/live-results';


  

// 6. Page-specific styles
@import
  'pages/home',
  'pages/about',
  'pages/contact',
  'pages/live';
  

// 7. Themes
@import
  'themes/default';
