// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {

    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;


    @include respond(phone){

        font-size: 50%;
    }

        & > * h5 {

            font-size: 2rem;
            text-transform: uppercase;
            margin-bottom: 1rem;

            @include respond(phone){

                font-size: 1.5rem;
            }
        
        }


        &__contact {

            width: 30%;
            margin-right: 2.5%;

            &-address {

                display: flex;
                height: 40%;
                font-size: 1.5rem;
                align-content: center;

                    ion-icon {
                        font-size: 6rem;
                        margin-right: 4px;
                    }
            
            }

            &-email {

                display: flex;
                height: 30%;
                font-size: 2rem;

                @include respond(phone){

                    font-size: 1.7rem;
                }
                
                    a  { 
                        color: $color-white;
                    }
                
            }

            &-links {

                display: flex;
                height: 30%;
                justify-content: space-around;

            }
    }


    &__hours {

        width: 20%;

        li {
            list-style: none;
            font-size: 1.5rem;

            @include respond(phone){

                font-size: 1.1rem;
            }
        }



    }


    &__information {
        
        width: 20%;
        font-size: 1.5rem;
        

        li {
                list-style: none;
                    a { color: $color-white; } 
            } 
        
    }


    &__newsletter {

        width: 20%;
        font-size: 1.5rem;

        &-subscribe {

            width: 100%;
            border: $border-1px;
            border-radius: 2rem;
            height: 4rem;
            background-color: $color-white;
            margin-top: 3rem;

            input {
                width: 65%;
                height: 100%;
                border-radius: 2rem;
                border: none;
                padding-left: 7px;
                font-size: 1.5rem;

                @include respond(phone){

                    font-size: 1rem;

                    width: 60%;
                }


                &:focus {
                    outline: none;
                }
            }

            button {

                width: 35%;
                height: 100%;
                float: right;
                
                border-radius: 2rem;
                border: 1px solid $color-white;
                background-color: $primary-blue;
                color: $color-white;
                transition: $animation;

                @include respond(phone){

                    font-size: 1rem;
                    width: 40%;
                }


                &:hover {
                    background-color: $color-white;
                    color: $primary-blue;
                    border: $border-1px;
                }
            }
        }


    }

    

    &__copyright {

        padding-top: 7rem;
        padding-bottom: 2rem;
        font-size: 1.5rem;

        @include respond(phone){

            padding-top: 4rem;
        }
        
    }
}

ion-icon {

    font-size: 3rem;
    transition: $animation;

    &:hover {

        color: $primary-yellow;
        transform: scale(1.3);
    }
}