// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------



.hero {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    
    background-image: radial-gradient(ellipse farthest-corner at top right, $secondary-blue 0%, rgb(16, 85, 150) 70%, $primary-blue 70%);
    opacity: .8;
    z-index: 1;
    position: relative;
    

    &__header {

        grid-area: 1 / 1 / 2 / 2;
        height: 45vh;
        width: 50vw;
        margin-top: 10vh;

        @include respond(phone){
            margin-top: 0;
        
         }
       

        &-title {

            text-transform: uppercase;
            color: $color-white;
            font-size: $hero-text;
            padding: $large-padding;

            @include respond(tab-port){

                font-size: 8.7rem;
    
            }

            @include respond(phone){

                font-size: 7rem;
            }
    
        }
    }

    &__top-right {

        grid-area: 1 / 2 / 2 / 3;
    }

    &__btm-left {

        grid-area: 2 / 1 / 3 / 2;
    }

    &__logo-img {
        
        grid-area: 2 / 2 / 3 / 3;

        z-index: 2;
        height: 40vh;
        width: 40vh;
        background-color: $color-white;
        border-radius: 50%;
        position: absolute;
        top: 0;
        margin-left: 35%;

        @include respond(tab-land){
            height: 30vh;
            width: 30vh;
            top: 20%;
            margin-left: 5%;
        }

        @include respond(tab-port){

            

        }

        @include respond(phone){

            top: 25%;
            height: 20vh;
            width: 20vh;
        }
        

        img {
            height: 55vh;
            width: auto;
            overflow: hidden;
            padding-bottom: 2.5rem;
            @include absCenter;

            @include respond(tab-land){ height: 45vh;}

            @include respond(phone){ 
                height: 30vh; 

            }
        }
        

    }

}



