.about {

    display: flex;
    justify-content: space-between;

    &__info {
        
        display: flex;
        
        flex-direction: column;
        flex: 0 0 47.5%;
        
        height: 50vh;
        padding: 3rem;
        
            h3 {
                font-size: 4rem;
                margin-top: 20%;
                text-transform: uppercase;
            }

            p {
                margin-top: 5%;
                font-size: 1.5rem;

            }

            @include respond(tab-land) {

                height: 40vh;

                h3 {
                    font-size: 3.5rem;
                    
                }
            }

            @include respond(tab-port) {

                height: 30vh;

                h3 {
                    font-size: 2.5rem;
                }
            }

            @include respond(phone) {

               height: 20vh;
               padding: .5rem;

               h3 {
                   font-size: 1.6rem;
                   margin-top: 0;
               }

               p {
                   font-size: 1.3rem;
               }

                
            }
    }

    &__images {

        flex: 0 0 47.5%;
        z-index: 1;
        
        height: 50vh;
        position: relative;
        padding: 3rem;
        margin-top: 5rem;

    }

    //     &-bg {
    //         @include absCenter;
    //         background-color: $color-white;
    //         z-index: 2;
    //         height: 75%;
    //         width: 75%;
    //         border-radius: 50%;
    //     }

    //         img {
                
    //             @include absCenter;
    //             height: 45vh;
    //             width: auto;
    //             z-index: 3;
    //             padding-bottom: 2rem;
    //         }

    //         @include respond(tab-land) {

    //             height: 40vh;
    //         }

    //         @include respond(tab-port) {

    //             height: 30vh;

    //             img {

    //                 height: 30vh;
    //             }
    //         }

    //         @include respond(phone) {

    //             height: 20vh;


    //             img {

    //                 height: 20vh;
    //             }
 
                 
    //          }
        
    // }



}