.contact {

    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    margin-top: 20vh;

    &__details {

        display: flex;
        justify-content: space-around;
        position: relative;
        text-align: center;

        & * h5 { font-size: 2.5rem;}

        & * p {font-size: 1.5rem;}

        & * > ion-icon { 
            font-size: 10rem;
            transition: $animation;
            cursor: pointer;
        
            &:hover {
                transform: scale(1.3);
            }
        }
    }

    &__heading {

        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 5rem 0 5rem -5rem;

        h3 {
            font-size: 4rem;
        }

        p {
            font-size: 1.5rem;
        }
    }


    &__form {

        font-size: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
        width: 100%;

        > * { margin: 3rem 0; }

    }

    &__name {

        &-label {
            margin-bottom: 5px;

        }

        &-full {
            
            &-input {
                width: 100%;
                border: $form-border;
                @include formFocus;
            }
        }
    }

    &__email {

        &-label {
            margin-bottom: 5px;

        }

        &-input {

            &-email {

                width: 100%;
                border: $form-border;
                @include formFocus;
            }

        }
    }


    &__subject {

        &-label {
            margin-bottom: 5px;

        }

        &-input {

            &-subject {
                width: 100%;
                border: $form-border;
                @include formFocus;
            }

        }

    }

    &__message {

        &-label {
            margin-bottom: 5px;

        }

        &-input {

            textarea {
                border: $form-border;
                width: 100%;
            }

        }

    }

    &__submit {

        display: flex;
        justify-content: flex-end;

    }

    &__map {
        margin-top: 3rem;
        height: 45vh;
        width: 100%;

    }
}