.live {

    padding-top: 10rem;
    background-color: $background-colour;


    &__score {

        margin: 0 auto;
        width: 70%;
        background-color: $color-white;


            &-time {
                display: flex;
                justify-content: space-between;
                padding: 2rem;
                font-size: 1.4rem;
            }


            &-teams{
                display: flex;
                justify-content: space-around;
                font-size: 3rem;

                &--leeds {

                    img {
                        display: flex;
                        margin: 0 auto;
                        width: 50px;
                    }
                }

                &--opposition {

                    img {
                        display: flex;
                        margin: 0 auto;
                        width: 50px;
                    }

                }
            }

            &-scorers {

                display: flex;
                justify-content: space-between;
                padding: 2rem;
               
            }

    }


    &__stats {

        margin: 5rem auto;
        background-color: $color-white;
        width: 80%;
        display: flex;
        justify-content: space-between;


        &-leeds {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            font-size: 1.5rem;

            & * {
                
                font-weight: 600;
                margin: 1rem;
                text-align: center;
            }

            img {
                width: 20px;
                margin: -3px;
            }
        }


        &-static {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            font-size: 1.5rem;


            & * {
                margin: 1rem 0;
                text-align: center;
                font-weight: 600;
            }

            & div:first-child {
                text-transform: uppercase;
                margin-bottom: 1.8rem;
            }


        }

        &-opposition {

            display: flex;
            flex-direction: column;
            padding: 1rem;
            font-size: 1.5rem;

            & * {
                margin: 1rem;
                font-weight: 600;
                text-align: center;
            }

            img {
                width: 20px;
                margin: -3px;
            }
        }

    }



}