.products {


    &__items {

        display: flex;
        justify-content: space-around;
        height: 40vh;
        border-radius: $border-radius;


        @include respond(phone){

            display: flex;
            flex-direction: column;
            height: 180vh;

        }

        &-1 {
            
            flex: 0 0 25%;
            border-radius: $border-radius;
            position: relative;
            background-image: url(../img/alex-img.jpg);
            background-size: cover;
            background-position: center;

            &:before { @include productsBefore; }

            span { @include productsSpan; }

            &:focus,
            &:hover { @include productsHover; }



            @include respond(tab-land) {
                
                flex: 0 0 30%;
                @include productsHover;
            }

            @include respond(phone) {

                &:hover {
                    pointer-events: none !important;
                }
                .title {
                    
                    font-weight: 600;
                    font-size: 6rem;
                }
                
                .info {
                    
                    font-size: 3rem;
                }
                 
             }

        }

        &-2 {
            
            flex: 0 0 25%;
            border-radius: $border-radius;
            position: relative;
            background-image: url(../img/alex-img.jpg);
            background-size: cover;
            background-position: center;

            &:before { @include productsBefore; }

            span { @include productsSpan; }

            &:focus,
            &:hover { @include productsHover; }

            @include respond(tab-land) {
                
                flex: 0 0 30%;
                @include productsHover;
            }

            @include respond(phone) {

                &:hover {
                    pointer-events: none !important;
                }
                .title {
                    
                    font-weight: 600;
                    font-size: 6rem;
                }
                
                .info {
                    
                    font-size: 3rem;
                }
                 
             }
            
        }

        &-3 {
            
            flex: 0 0 25%;
            border-radius: $border-radius;
            position: relative;
            background-image: url(../img/alex-img.jpg);
            background-size: cover;
            background-position: center;

            &:before { 
                
                opacity: 0;
                
                @include productsBefore; }

            span { @include productsSpan; }

            &:focus,
            &:hover { @include productsHover; }

            @include respond(tab-land) {

                flex: 0 0 30%;
                @include productsHover;
            }

            @include respond(phone) {

                &:hover {
                    pointer-events: none !important;
                }
                .title {
                    
                    font-weight: 600;
                    font-size: 6rem;
                }
                
                .info {
                    
                    font-size: 3rem;
                }
                 
             }

            
        }
    }
}