// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {

    box-sizing: border-box;
    

    // defines what 1 rem is 
    font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
    
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;


  @include respond(tab-land) { // width < 900?

    font-size: 56.25%; //9px
  }

  @include respond(tab-port) { // width < 600?

    font-size: 50%; //1rem = 8px, 8/16 = 50
  }

  @include respond(big-desktop) {

    font-size: 75%; //12px
  }

}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {

  margin: 0;
  padding: 0;  
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  
  text-decoration: none;

  @include on-event {
    
    text-decoration: underline;
  }
}
